* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode Nerd Font;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

window#waybar {
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.55);
    color: #ffffff;
}


#workspaces button {
    color: #ffffff;
    padding: 0 8px;
    margin: 0 2px;
}

#workspaces button.focused {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 0;
}

#clock {
    margin-left: 4px;
    margin-right: 8px;
}

#battery {
    margin-right: 6px;
}

#battery.charging {
    background-color: #919F75;
    padding-right: 10px;
    padding-left: 4px;
    margin-right: 0;
    border-radius: 10px;
}

#wireplumber {
    padding: 4px;
}


#bluetooth {
    padding-left: 4px;
    margin-left: 2px;
}

#power-profiles-daemon {
    padding-left: 4px;
    margin-right: 5px;
}

#network {
    margin-right: 4px;
    padding-left: 4px;
}

#language {
    margin-left: 2px;
}

#tray {
    padding-right: 3px;
    margin-right: 14px;
    margin-bottom: 2px;
}
